@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --footer-bg: #f5f6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  max-width: 1440px;
  background: url(../images/bg-header-desktop.png) no-repeat;
}

h1,
h2,
h3 {
  color: var(--dark-grayish-blue);
}

p {
  color: var(--grayish-blue);
}

/* HEADER */
header {
  text-align: center;
  margin: 125px auto;
}

/* HEADER INFO */
.header-info {
  text-align: center;
}

.header-info h1 {
  font-size: 2.5em;
  max-width: 65%;
  margin: 35px auto 15px;
}

.header-info p {
  font-size: 1.15em;
  line-height: 1.4em;
  max-width: 52%;
  margin: 0px auto 30px;
}

/* DOWNLOAD BUTTONS */
.download-btn {
  text-align: center;
}

.download-btn .btn {
  font-size: 1em;
  color: #fff;
  padding: 15px 40px;
  margin: 15px 5px;
  border-radius: 30px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ios-btn {
  background-color: var(--strong-cyan);
}

.mac-btn {
  background-color: var(--light-blue);
}

.ios-btn:hover,
.mac-btn:hover {
  opacity: 0.8;
}

/* SECTIONS */
section .section-info {
  max-width: 52%;
  text-align: center;
  margin: 100px auto;
}

section .section-info h2 {
  font-size: 1.91em;
  margin-bottom: 15px;
}

section .section-info p {
  font-size: 1.05em;
}

section .section-card {
  display: flex;
  justify-content: space-between;
}

section .section-card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 100%;
  margin: 6% 0% 3%;
}

.card-info .text-info {
  max-width: 55%;
  height: 100%;
  margin: 0px 100px;
}

.card-info .text-info h3 {
  margin-bottom: 10px;
}

.card-info .text-info p {
  margin-bottom: 10px;
}

/* SECTION WITH DEVICES IMAGE */
section .devices-img {
  text-align: center;
}

/* SERVICES SECTION */
.services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  margin-bottom: 125px;
}

.services .services-card {
  width: 80%;
  padding: 10px;
}

.services .services-card .services-img {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.services .services-card h3 {
  text-align: center;
  margin-bottom: 25px;
}

.services .services-card p {
  text-align: center;
}

/* CLIENTS LOGOS */
.our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 125px;
}

/* LAST SECTION */
section .clipboard {
  margin-bottom: 30px;
}

/* FOOTER */
footer {
  background-color: var(--footer-bg);
  padding: 20px 150px 20px;
  margin-top: 125px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .ftr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* FOOTER MENU */

.footer .ftr-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}

.footer .ftr-menu .menu-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 75px;
  padding: 100px 0px;
}

.footer .ftr-menu .menu-items li {
  font-size: 0.75em;
  padding: 10px 0px;
}

.ftr-menu .menu-items li a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

.ftr-menu .menu-items li a:hover {
  color: var(--strong-cyan);
}

.footer .logo-ftr img {
  max-width: 60px;
  max-height: 60px;
}

/* SOCIAL ICONS */
.footer .social-icons i {
  margin-left: 20px;
}

/* ATTRIBUTION */

.attribution {
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 11px;
  text-align: center;
}

.attribution hr {
  border-color: hsla(233, 100%, 69%, 0.336);
  border-radius: 5px;
  margin-bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1100px) {
  /* HEADER */
  header {
    max-width: 1100px;
    margin-bottom: 100px;
  }

  .header-info h1 {
    font-size: 1.75em;
    max-width: 75%;
  }

  .header-info p {
    font-size: 1em;
    max-width: 69%;
  }

  /* DOWNLOAD BUTTONS */
  .download-btn .btn {
    font-size: 0.75em;
    padding: 10px 30px;
  }

  /* SECTIONS */
  section .section-info {
    max-width: 69%;
    text-align: center;
    margin: 100px auto;
  }

  section .section-info h2 {
    font-size: 1.5em;
  }

  section .section-info p {
    font-size: 0.9em;
  }

  section .section-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }

  section .section-card .section-img {
    text-align: center;
  }
  section .section-card .section-img img {
    max-width: 80%;
  }

  section .section-card .card-info {
    justify-content: space-between;
    align-items: center;
    margin: 0% auto 4%;
    text-align: center;
  }

  .card-info .text-info {
    max-width: 70%;
    margin: 0px 0px;
  }

  .card-info .text-info h3 {
    font-size: 1.35em;
    margin-top: 50px;
  }

  .card-info .text-info p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  /* SECTION WITH DEVICES IMAGE */
  section .devices-img img {
    width: 80%;
  }

  /* SERVICES SECTION */
  .services {
    width: 90%;
    margin-bottom: 100px;
  }

  /* CLIENTS LOGOS */
  .our-clients {
    width: 85%;
    margin-bottom: 100px;
  }

  .our-clients img {
    width: 70%;
  }

  /* FOOTER */
  footer {
    padding: 15px 50px 25px;
    margin-top: 100px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer .ftr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* FOOTER MENU */

  .footer .ftr-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
  }

  .footer .ftr-menu .menu-items {
    margin-right: 50px;
    padding: 50px 0px;
  }

  .footer .ftr-menu .menu-items li {
    padding: 5px 0px;
  }

  .ftr-menu .menu-items li a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
  }

  .ftr-menu .menu-items li a:hover {
    color: var(--strong-cyan);
  }

  .footer .logo-ftr img {
    max-width: 60px;
    max-height: 60px;
  }

  /* SOCIAL ICONS */
  .footer .social-icons i {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    max-width: 768px;
    margin-bottom: 90px;
  }

  .header-info h1 {
    font-size: 1.7em;
    max-width: 85%;
  }

  .header-info p {
    font-size: 0.92em;
    max-width: 85%;
  }

  /* DOWNLOAD BUTTONS */
  .download-btn {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
  }

  .download-btn .btn {
    font-size: 0.9em;
    margin-bottom: 0px;
    padding: 20px 30px;
  }

  /* SECTIONS */
  section .section-info {
    max-width: 85%;
  }

  section .section-info p {
    font-size: 0.94em;
  }

  section .section-card {
    max-width: 90%;
  }

  section .section-card .section-img {
    margin-top: -25px;
  }
  section .section-card .section-img img {
    max-width: 90%;
  }

  .card-info .text-info {
    max-width: 90%;
  }

  .card-info .text-info h3 {
    font-size: 1.15em;
    margin-top: 40px;
  }

  .card-info .text-info p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  /* SECTION WITH DEVICES IMAGE */
  section .devices-img img {
    width: 90%;
    margin-top: -35px;
  }

  /* SERVICES SECTION */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-bottom: 80px;
  }

  .services .services-card p {
    font-size: 0.7em;
  }

  /* CLIENTS LOGOS */
  .our-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0px auto -25px;
  }

  .our-clients img {
    width: 70%;
    margin-bottom: 40px;
  }

  /* FOOTER */
  footer {
    padding: 40px 30px 15px;
    margin-top: 80px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer .ftr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  /* FOOTER MENU */

  .footer .ftr-menu {
    display: block;
    margin: 40px auto;
  }

  .footer .ftr-menu .menu-items {
    margin-right: 0px;
    padding: 0px 0px;
    text-align: center;
  }

  .footer .ftr-menu .menu-items li {
    padding: 15px 0px;
  }

  .footer .logo-ftr img {
    max-width: 50px;
    max-height: 50px;
  }

  /* SOCIAL ICONS */
  .footer .social-icons i {
    margin-left: 0px;
    padding: 15px;
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url(../images/bg-header-mobile.png) no-repeat;
  }

  .services {
    width: 90%;
  }
}
